<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Header></Header></title>
</head>
<body>
    <header class="header">
        
        
   
    <div class="auth-links">
       
        <div class="nav">
            <div>
             <img src="../../images/Logo.png" alt="logo" class="logo">
            </div>
            <div class="nav-link">
            <a href="/home" class="header-link">Home</a>
            <a href="/home/addNewPet" class="header-link">Add new pet</a>
            </div>
       
        
        </div>
        <div class="nav-link">
        <a href="#" class="header-link">Welcome User</a>
        <a href="/auth" class="header-link">Log out</a>
        </div>
       
        
    </div>
    </header>
</body>
</html>