<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Header></Header></title>
</head>
<body>
    <header class="header">
        
        <div class="logo">
            <img src="../../images/Logo.png" alt="logo" width="75">
             <a href="/home" class="header-link">Home</a>
        </div>
   
    <div class="auth-links">
        <a href="/auth" class="header-link">Log In / Sign Up</a>
        <!-- <a href="/auth" class="header-link">Sign Up</a> -->
    </div>
    </header>
</body>
</html>