<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Header></Header></title>
</head>
<body>
    <header class="header">
        
        <div class="logo">
            <img src="../../images/Logo.png" alt="logo" width="100">
             <a href="/home" class="header-link">Home</a>
             <a href="/home/addNewPet" class="header-link">Add new pet</a>
        </div>
   
    <div class="auth-links">
        <a href="#" class="header-link">Welcome User</a>
        <a href="/auth" class="header-link">Log out</a>
        
    </div>
    </header>
</body>
</html>