<!-- views/pages/header.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Header></Header></title>
</head>
<body>
    <header class="header">
        
        <div class="logo">
            <img src="../../images/Logo.png" alt="logo" width="100">
             <a href="/" class="header-link">Home</a>
             <a href="/addNewPet" class="header-link">Add new pet</a>
        </div>
   
    <div class="auth-links">
            <a id="auth-button" href="/auth">Login or register</a>
            <a id="logout-button" href="#" onclick="logout()">Logout</a>
            <a href="/profile">User</a>
    </div>
    </header>
</body>
<script src="/js/authStatus.js"></script> <!-- Setting status -->
</html>