<!-- views/pages/index.js -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Adoption Platform</title>
</head>
<body>
<h1>Welcome to our Pet Adoption Platform</h1>
<ul>
    <li> <a href="/auth">Login or register</a> </li>
    <li id="logout-button"> <a href="#" onclick="logout()">Logout</a> </li>
    <li> <a href="/profile">User</a></li>
</ul>


<script src="/js/authStatus.js"></script> <!-- Setting status -->
<script>

</script>


</body>
</html>
